.plusIcon {
    width: 20px;
    height: 21px;
}

/* Intro */
.intro {
    padding: 80px 0 40px;
}

.intro__title {
    font-size: 56px;
    line-height: 64px;
    background: var(--gradient-gradient-03, linear-gradient(90deg, #0175C7 28.73%, #0148FF 38.62%, #5650E3 50.35%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 16px;
}

.intro__subtitle {
    margin-bottom: 8px;
}

/* Reasons */
.reasons {
    padding: 56px 0;
}

.reasons__grid {
    display: grid;
    grid-template-columns: 544px 384px;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.reasons__card {
    border: 1px solid var(--gradient-gradient-03, #0078C2);
    padding: 24px 32px;
}

.reasons__card:nth-child(2) {
    grid-area: 1 / 2 / 3 / 3;
}

.reasons__num {
    font-size: 56px;
    letter-spacing: -1.12px;
    background: var(--gradient-gradient-03, linear-gradient(90deg, #0078C2 0%, #0047FF 69.5%, #8453D2 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 56px;
}

.reasons__title {
    font-size: 24px;
    font-weight: 400;
    margin: 12px 0 8px;
}

.reasons__subtitle {
    font-weight: 600;
    margin-bottom: 2px;
}

.reasons__wrapper {
    padding-top: 8px;
}

.reasons__wrapper p {
    margin-bottom: 8px;
}

/* Table of content */
.tableOfContent__wrapper {
    padding: 24px 32px;
    background: var(--dark-F5F5F5---90, #F5F5F5);
}

.tableOfContent__title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.4px;
    margin-bottom: 16px;
}

.tableOfContent__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tableOfContent__list li a {
    font-weight: 600;
}

/* Ideas */
.ideas {
    background: var(--dark-F5F5F5---90, #F5F5F5);
    margin-top: 56px;
    padding: 56px 0;
}

.ideas__title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.4px;
    margin-bottom: 16px;
}

.ideas__subtitle {
    font-size: 18px;
}

.ideas__subtitle.first {
    margin-bottom: 10px;
}

.ideas__label {
    margin: 32px 0 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.ideas__accordion {
    display: grid;
    grid-template-columns: 48px 1fr 24px;
    gap: 16px;
    align-items: center;
    padding: 24px 32px;
    border: 1px solid var(--gradient-gradient-03, #0078C2);
}

.ideas__accordion-text {
    font-weight: 600;
    letter-spacing: 1.92px;
    text-transform: uppercase;
}

.ideas__accordion-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.ideas__accordion+.ideas__accordion {
    margin-top: 8px;
}

/* Programs */
.programs {
    padding-top: 56px;
}

.programs__title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.4px;
    margin-bottom: 16px;
}

.programs__subtitle {
    font-size: 18px;
    margin-bottom: 32px;
}

.programs__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.programs__card {
    padding: 24px 32px;
    border: 1px solid var(--gradient-gradient-03, #0078C2);
}

.programs__card h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.programs__list {
    margin-bottom: 32px;
}

.programs__global-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.24px;
    margin-bottom: 24px;
    text-align: center;
}

.programs__global {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin-bottom: 40px;
}

.programs__global-card {
    background: var(--dark-F5F5F5---90, #F5F5F5);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programs__global-text {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.programs__global-text.special {
    color: var(--dark-727477---50, #727477);
}

.shapeIcon {
    width: 34.641px;
    height: 40px;
    fill: #0A68F1;
}

.programs__custom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 56px;
}

.programs__label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
}

.programs__custom-card {
    background: var(--dark-F5F5F5---90, #F5F5F5);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Badges */
.badges {
    margin-bottom: 56px;
}

.badges__grid {
    padding: 24px 32px;
    background: var(--dark-F5F5F5---90, #F5F5F5);
    display: grid;
    grid-template-columns: 1fr 353px;
    gap: 16px;
}

.badges__title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.4px;
    font-family: 'Museo100';
    margin-bottom: 16px;
}

.badges__btn {
    border-radius: 100px;
    border: 1px solid var(--gradient-gradient-03, #0078C2);
    padding: 16px 32px;
    margin-top: 24px;
    font-family: 'Museo700';
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2.56px;
    cursor: pointer;
}

.badges__btn:hover {
    background: var(--dark-060606---10, #060606);
    color: var(--dark-FFFFFF---100, #FFF);
}

.badges__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HowTo */
.howTo {
    background: var(--dark-F5F5F5---90, #F5F5F5);
    padding: 56px 0;
}

.howTo__title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.4px;
    margin-bottom: 16px;
    font-family: 'Museo100';
}

.howTo__subtitle {
    font-size: 18px;
    margin-bottom: 32px;
}

.howTo__headerText {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.24px;
    font-family: 'Museo500';
    margin-bottom: 24px;
}

.howTo__kb,
.howTo__learn {
    border: 1px solid var(--gradient-gradient-03, #0078C2);
    background: var(--dark-FFFFFF---100, #FFF);
    padding: 24px 32px;
}

.howTo__label {
    font-size: 20px;
    font-family: 'Museo500';
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}

.howTo__card {
    border-top: 1px solid var(--dark-D2D2D3--80, #D2D2D3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.howTo__left {
    margin-right: 10px;
}

.howTo__left a {
    font-family: 'Museo500';
}

.howTo__card:hover.howTo__card a {
    color: var(--blue-0A68F1---50, #0A68F1);
}

.howTo__card:hover .arrowIcon {
    fill: var(--blue-0A68F1---50, #0A68F1);
}

.arrowIcon {
    width: 20px;
    height: 20px;
}

/* forced ʻinherit` inheritance to change style of SVG sprite icon */
path {
    fill: inherit;
    stroke: inherit;
}

.howTo__learn {
    margin-top: 16px;
}

/* Ambassador */
.ambassador {
    padding: 56px 0;
}

.ambassador__content {
    background: var(--dark-F5F5F5---90, #F5F5F5);
    padding: 24px 32px;
}

.ambassador h3 {
    font-size: 40px;
    font-family: 'Museo100';
    line-height: 48px;
    letter-spacing: 0.4px;
    margin-bottom: 16px;
}

.ambassador p,
ul {
    font-size: 18px;
}

.ambassador__text {
    margin-bottom: 10px;
}

.ambassador__list {
    list-style: disc;
    list-style-position: inside;
}

/* Footer */
footer {
    padding: 32px 40px;
    background: var(--dark-060606---10, #060606);
}

.footer__text {
    text-align: center;
    color: var(--dark-FFFFFF---100, #FFF);
    font-size: 20px;
    font-family: 'Museo500';
    line-height: 28px;
    letter-spacing: 0.2px;
}