@font-face {
  font-family: "Museo100";
  src: url("./fonts/exljbris\ -\ MuseoSans-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo100i";
  src: url("./fonts/exljbris\ -\ MuseoSans-100Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Museo300";
  src: url("./fonts/exljbris\ -\ MuseoSans-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo300i";
  src: url("./fonts/exljbris\ -\ MuseoSans-300Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Museo500";
  src: url("./fonts/exljbris\ -\ MuseoSans-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo500i";
  src: url("./fonts/exljbris\ -\ MuseoSans-500Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Museo700";
  src: url("./fonts/exljbris\ -\ MuseoSans-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo700i";
  src: url("./fonts/exljbris\ -\ MuseoSans-700Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Museo900";
  src: url("./fonts/exljbris\ -\ MuseoSans-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Museo900i";
  src: url("./fonts/exljbris\ -\ MuseoSans-900Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

html * {
  font-family: "Museo300", sans-serif;
  color: #060606;
  line-height: 24px;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 944px;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

* img {
  width: 100%;
  height: auto;
}

* a[href]:hover {
  color: var(--blue-0A68F1---50, #0a68f1);
}

* button,
* a {
  transition: 0.2s linear all;
}

/* Footer */
footer {
    padding: 32px 40px;
    background: var(--dark-060606---10, #060606);
}

.footer__text {
    text-align: center;
    color: var(--dark-FFFFFF---100, #FFF);
    font-size: 20px;
    font-family: 'Museo500';
    line-height: 28px;
    letter-spacing: 0.2px;
}