/* Intro */
.intro {
  padding: 80px 0 40px;
}

.intro__title {
  color: var(--dark-060606---10, #060606);
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.56px;
  margin-bottom: 16px;
}

.intro__title-special {
  background: var(
    --gradient-gradient-03,
    linear-gradient(90deg, #0175c7 28.73%, #0148ff 38.62%, #5650e3 50.35%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 56px;

  font-family: "Museo500";
  line-height: 64px;
  letter-spacing: 0.56px;
}

.intro__subtitle {
  color: var(--dark-060606---10, #060606);
  font-size: 18px;
}

.intro__list {
  width: 829px;
  display: flex;
  gap: 40px;
  margin-top: 16px;
}

.intro__list-item {
  list-style-type: disc;
  list-style-position: inside;
  color: #3693ff;
}

.intro__list-item span {
  color: #060606;
}

/* Navigation */
.navigation {
  padding-top: 56px;
  margin-bottom: 56px;
}

.navigation__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.navigation__block-item {
  border: 1px solid var(--gradient-gradient-03, #0175c7);
  background: var(--dark-FFFFFF---100, #fff);
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
}

.navigation__block-item-title {
  color: var(--dark-060606---10, #060606);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.24px;
  margin-bottom: 16px;
}

.navigation__block-item-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
  gap: 12px;
}

.navigation__block-item-links a {
  color: var(--dark-060606---10, #060606);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-decoration-line: underline;
}

/* Project */
.project__title {
  color: var(--dark-060606---10, #060606);
  font-family: "Museo Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 250;
  line-height: 48px;
  letter-spacing: 0.4px;
  margin-bottom: 32px;
}

.project__example1 {
  margin-bottom: 40px;
}

.example1__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  margin-bottom: 32px;
}

.example1__intro-title {
  display: flex;
  width: 460px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.example1__intro-title h4 {
  color: var(--dark-060606---10, #060606);
  font-size: 16px;
  font-weight: 600;
}

.example1__intro-subtitle {
  color: var(--dark-060606---10, #060606);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.24px;
}

.example1__rules {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 40px;
}

.example1__rules-item {
  display: flex;
  width: 304px;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.example1__rules-number {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -1.12px;
  background: var(
    --gradient-gradient-03,
    linear-gradient(90deg, #0175c7 28.73%, #0148ff 38.62%, #5650e3 50.35%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.example1__rules-text {
  color: var(--dark-060606---10, #060606);
  text-align: center;
  font-size: 16px;
}

.example1__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.example1__cards-item {
  display: flex;
  padding: 24px 32px;
  border: 1px solid var(--gradient-gradient-03, #0175c7);
  background: var(--dark-FFFFFF---100, #fff);
  gap: 24px;
}

.cardTitle {
  display: flex;
  width: 160px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.cardLogo {
  width: 100px;
  height: 100px;
}

.cardName {
  width: 160px;
  color: var(--dark-060606---10, #060606);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: stretch;
}

.cardDescriptionTitle {
  color: var(--dark-060606---10, #060606);
  font-size: 16px;
  font-weight: 600;
}

.cardDescriptionText {
  color: var(--dark-060606---10, #060606);
  font-size: 16px;
}

.example1__footer {
  display: flex;
  padding: 24px 32px;
  align-items: center;
  border-left: 4px solid var(--purple-0A68F1---50, #0a68f1);
  background: var(--dark-F5F5F5---90, #f5f5f5);
  color: var(--dark-060606---10, #060606);
  font-size: 18px;
  margin-top: 16px;
}

.example1__footer span {
  color: var(--dark-060606---10, #060606);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: underline;
}
